@font-face {
    font-family: "mandatory18";
    font-weight: 400;
    src: url("fonts/Mandatory18.woff2") format("woff2");
}
@font-face {
    font-family: "mandatory17";
    font-weight: 500;
    src: url("fonts/Mandatory17.woff2") format("woff2");
}
@font-face {
    font-family: "FrankRuhlLibre-Bold";
    font-weight: 500;
    src: url("fonts/FrankRuhlLibre-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "FrankRuhlLibre-Regular";
    font-weight: 400;
    src: url("fonts/FrankRuhlLibre-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Academy Engraved LET Plain";
    font-weight: 400;
    src: url("fonts/Academy Engraved LET Plain.woff2") format("woff2");
}
* {
    box-sizing: border-box;
}
a {
    color: #e4542f;  
}
body {
    background-color: #3a291d;
    overflow-x: hidden;
}
article {
    margin: 8.75%;
}
header{
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 17.5vw 11.5vw;
}
i {
    color: #e4542f; 
}
h1 {
    font-family: "Mandatory18","ariel", sans-serif;
    font-size: 15vw;
    margin-right: -2.5vw;
    margin-top: 2vw;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.14em;
    white-space: nowrap;
}
h2 {
    display: block;
    font-family: "Mandatory17","ariel", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.40em;
    line-height: 1.4em;
    opacity: 95%;
    margin-right: -0.3em;
}
h2.sub-title {
    position: absolute;
    right: 58%;
    top: 41%;
}
.alef {
    letter-spacing: 0;
}
.maintitle {
    position: relative;
    display: flex;
}
.headtitle {
    display: flex;
    flex-direction: row;
}
.background {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 3%;
    background-size: auto;
    max-width: 100%;
    pointer-events: none;
}
.samech {
    height: 0.7em;
    margin-right: .15em;
}
.intro {
    position: relative;
}
.introtext {
    font-family: "FrankRuhlLibre-Bold","ariel", serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #fdfae2;
    letter-spacing: 0.20em;
    line-height: 2.15em;
    margin-bottom: 14vw;
    margin-top: -17vw;
    margin-right: 0vw;
    opacity: 90%;
    width: 30vw;
}
.quote {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #e4542f;
    letter-spacing: 0.20em;  
    text-align: center; 
    line-height: 2em;
    position: absolute;
    white-space: nowrap;
    right: 40vw;
    top: 11vw;
}
.text {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.18em;
    line-height: 2.5em;
    opacity: 80%;
}
.visual1{
    width: 30vw;
    padding-left: 5%;
    align-content: normal;
}
.hdescription {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    margin-right: 4vw;
    color: #e4542f;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.10em;
    line-height: 1.8em;  
}
.d_empiremap {
    padding-right: 28vw;
}
.edescription {
    font-family: "Academy Engraved LET Plain","ariel", serif;
    color: #e4542f;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.10em;
    line-height: 1.8em;
}
.maintitle {
    display: flex;
}
.heinrich {
    max-width: 100%;
    border: solid 2px #e4542f;
    margin-right: 2.3vw;
    margin-top: -1.6vw;
}
.d_heinrich {
    margin-right: 3vw;
}
.part1 {
    display: flex;
    flex-direction: row;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 55.3vw -0.5vw
}
.text1 {
    width: 70vw;
    padding-top: 15%;
    padding-right: 2%;
    padding-left: 8vw;
}
.empiremap {
    max-width: 100%;
    border: solid 2px #e4542f;
}
.visual2 {
    position: relative;
    width: 55vw;
    margin-left: 5%;
    float: left;
    margin-right: 58px;
}
.text2 { 
    padding-top: 222px;
    width: 50vw;
    margin-left: 2%;
}
.part2 {
    flex-direction: row; 
    margin-top: 180px;
    padding-top: 2.5vw;
}
.title2 {
    position: absolute;
    left: 62.3vw;
    bottom: 32.4vw;
}
.visual5 {
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
    margin-left: 3.5vw;
}
.text5 {
    margin-bottom: 3vw;
    padding-left: 3.5vw;
    padding-top: 4.4vw;
    padding-right: 60vw;
}
.visual5 img {
    height: 650px;
    margin-right: 30px;
    border: solid 2px #e4542f;
}
.atalantaplay {
    margin-top: 10vw;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: -2.45vw 4.4vw;
}
.scene1 {
    padding-right: 30vw;
}
.scene2 {
    padding-right: 3vw;
}
.scene3 {
    padding-right: 21vw;
}
.scene4 {
    padding-right: 32vw;
}
.scene5 {
    padding-right: 16vw;
}
.scene6 {
    padding-right: 7vw;
}
.scene7 {
    padding-right: 4vw;
}
.scene8 {
    padding-right: 22vw;
}
.image_wrap1 {
    margin-top: 2.5vw;
}
.empiremap {
    margin-top: 1vw;
}
.image_wrap2 {
       background-image: url("images/line_2.png");
       background-repeat: no-repeat;
       background-size: 6vw;
       background-position: -1.7vw -0.5vw;
}
.zuluwarriors {
    margin-right: 4vw;
    max-width: 68%;
    border: solid 2px #e4542f;
}
.part3 {
    margin-top: 9vw;
}
.title3 {
    position: relative;
    left: -33vw;
    top: 0.8vw;
    width: 46vw;
}
.image_wrap3 {
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 77.7vw 14.5vw;
}
.part4 {
    margin-top: 10vw;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 44.95vw 17vw;
}
.text4{
    width: 60vw;
}
.visual4 {
    width: 41vw;
    margin-left: 5vw;
    margin-top: 18.4vw;
}
.title4 {
    padding-top: 8vw;
}
.khanyamthethwa {
    max-width: 100%;
    border: solid 2px #e4542f;
}
.d_khanyamthethwa {
    padding-right: 7.4vw;
}
.wrap_part4 {
    display: flex;
    flex-direction: row;
}
.part6 {
    display: flex;
    overflow: auto;  
    margin-top: 6vw;
}
.Sangoma img {
    width: 100%;
    border: solid 2px #e4542f;
}
.text6 {
    width: 65vw;
    padding-left: 5vw;
}
.visual6 {
    padding-top: 14vw;
    padding-left: 3.5vw;
    width: 35vw;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: -2.35vw 12.6vw;
}
.part7 {
    padding-top: 9vw;
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
}
.text7 {
    width: 44vw;
    padding-right: 2vw;
}
.visual7 {
    padding-top: 11.4vw;
    padding-left: 3.5vw;
    width: 35vw;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: -2.3vw 10vw;
}
.sangoma2 {
    width: 100%;
    border: solid 2px #e4542f; 
}
.part8 {
    padding-top: 6vw;
    display: flex;
    overflow: auto;
}
.sangoma_bw {
    width: 100%;
    border: solid 2px #e4542f; 
}
.visual8 {
    width: 40vw;
    padding-left: 3vw;
    padding-top: 1vw;
    background-image: url(images/line_2.png);
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: -2.5vw -0.4vw;
}
.text8 {
    padding-top: 11vw;
    width: 60vw;
    padding-left: 3.5vw;
}
.part9 {
    padding-top: 12vw;
    display: flex;
    flex-direction: row-reverse;
}
.marride {
    border: solid 2px #e4542f; 
    width: 24vw;
}
.visual9 {
    width: 30vw;
    padding-left: 5vw;
    padding-top: 19vw;
    background-image: url(images/line_2.png);
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: -0.6vw 17.8vw;
}
.text9 {
    width: 70vw;
    padding-left: 3.5vw;
}
.text10 {
    width: 57vw;
    padding-top: 2.5vw;
}
.village {
    width: 100%;
    margin-top: 0.6vw;
    border: solid 2px #e4542f;
}
.visual10 {
    width: 45vw;
    padding-left: 3vw;
    padding-right: 5vw;
    float: left;
    margin-left: 1vw;
    margin-top: 1vw;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: -2.3vw -0.8vw;
}
.text11 {
    width: 55vw;
    padding-left: 3vw;
    margin-top: -0.2;
} 
@media (max-width:1600px) {
    .quote {
        right: 39vw
    }
}
@media (max-width:1500px) {
    .quote {
        right: 37vw
    }
}
@media (max-width:1450px) {
    .quote {
        right: 36vw
    }
}
@media (max-width:1400px) {
    header{
        background-image: url("images/line.png");
        background-repeat: no-repeat;
        background-size: 0vw;
    }
    .quote {
        position: static;
        margin-top: 10vw;
        margin-bottom: 13vw;
    }
    .introtext {
    margin-bottom: 5%;
    width: 55vw;
    }
}
@media (max-width:1145px) {
    .title2 {
        bottom: 46svw;
        left: 39vw;
    }
    .d_empiremap {
        padding-right: 19vw;
    }
}
@media (max-width:1096px) {
    .visual5 img {
        height: 451px;
    }
}
@media (max-width:1109px) {
    .introtext {
    font-size: 1.2em;
    }
    .quote {
        font-size: 1.1em;
        position: static;
        margin-top: 10vw;
        margin-bottom: 13vw;
    }
    .text {
        font-size: 1.2em; 
        line-height: 2.2em; 
    }
    .hdescription {
        font-size: 0.8em;
        line-height: 1.8em;  
    }
    .edescription {
        font-size: 0.8em;
        line-height: 1.8em;
    }
    h2 {
        font-size: 1.5em;
        line-height: 1.4em;
        letter-spacing: 0.28em;
        }
}
@media (max-width:1028px) {

}
@media (max-width:864px) {
    .visual5 img {
        height: 340px;
    }
}
@media (max-width:750px) {
    .text5 {
    padding-right: 40vw;
    }
    .introtext {
        font-size: 1em;
        }
}
@media (max-width:611px) {
    .visual5 img {
        height: 280px;
    }
    h1 {
        font-size: 5.85em;
    }
    .introtext {
        font-size: 1.5em;
        line-height: 1.6em;    
        letter-spacing: 0.1em;
        width: 91vw;
        text-align: right;
        padding-top: 20vw;
        margin-right: -1vw;
    }
    h2.sub-title {
            right: 0%;
            top: 74%;
        }
    h2 {
        font-size: 1.5em;
        line-height: 1.1em;
        letter-spacing: 0.28em;
        }
    .text {
        line-height: 1.6em;
        margin-right: -1vw;
    }
    .quote {
        text-align: right;
        line-height: 1.6em;
        white-space: none;
        white-space: normal;
        padding-right: 0vw;
        letter-spacing: 0.13em;
        margin-top: 16vw;           
        }
    .visual1 {
        width: 103vw;
        padding-left: 94px;
        background-size: 0;
        }
    .part1 {
        display: block;
        flex-direction: column;
        }
    .text1 {
        width: 92vw;
        padding-top: 8%;
        padding-right: -4%;
        padding-left: 7vw;
        padding-right: 0%;
        }
    .visual2 {
        position: relative;
        width: 89vw;
        margin-left: 0;
        float: none;
        margin-right: 0px;
        }
    .part2 {
        flex-direction: row;
        margin-top: 145px;
        background-size: 0;
        }
    .title2 {
        bottom: 76.5vw;
        left: 50vw;
    }
    .d_empiremap {
        padding-right: 0vw;
    }
    .text2 {
        padding-top: 10vw;
        width: 92vw;
        margin-left: 2%;
        }
    .title3 {
        position: unset;
        width: 89vw;
        padding-bottom: 3vw;
    }
    .part3 {
        margin-top: 38vw;
    }
    .walldrawing {
        max-width: 116%;
        margin-right: 0;
    }   
    .hdescription {
        margin-right: 0;
    }
    .wrap_part4 {
        display: block;
    }
    .visual4 {
        width: 100vw;
        margin-top: 30vw;
    } 
    .khanyamthethwa {
        max-width: 92%;    
    }
    .d_khanyamthethwa {
        padding-left: 7.4vw;
    }
    .text4 {
        width: 93vw;
    }
    .text5 {
        padding-right: 0vw;
        padding-left: 0;
    }
    .part5 {
        background-size: 0;
        width: 391px;
    }
    .atalantaplay {
        background-size: 0;
        margin-top: 27vw;
    }
    .visual5 {
        overflow: auto;
        margin-left: 0vw;
    }
    .visual5 img {
        height: 249px;
        margin-right: 13px;
    }
    .part6 {
        display: block;
        overflow: unset;
        margin-top: 22vw;
    }
    .visual6 {
        width: 96vw;
        padding-top: 21vw;
    }
    .text6 {
        width: 94vw;
        padding-left: 0px;
    }
    .visual6 {
        background-size: 0;
    }
    .part7 {
        padding-top: 14vw;
        display: block;
        background-size: 0vw;
        overflow: unset;
    }
    .text7 {
    width: 93vw;
    padding-right: 0;
    }
    .visual7 {
        width: 96vw;
    }
    .part8 {
        padding-top: 10vw;
        display: block;
        overflow: unset;
        background-size: 0vw;
    }
    .text8 {
        width: 96vw;
    }
    .visual8 {
        padding-left: 0;
        padding-top: 28px;
        background-size: 0vw;
        width: 92vw;
    }
    .part9 {
        display: block;
        background-size: 0;
    }
    .text9 {
        width: 97vw;
    }
    .visual9 {
        width: 93vw;
        background-size: 0vw;
        padding-left: 0;
    }
    .marride {
        width: 92vw;
    }
    .text10 {
        width: 93vw;
    }
    .part10b {
        background-size: 0vw;
        width: 92vw;
    }
    .visual10 {
        float: unset;
        width: 92vw;
        padding-left: 0;
        padding-right: 0;
        margin-top: 16vw;
    }
}
@media (max-width:450px) {
    h1 {
        font-size: 5.85em;
    }
    .introtext {
        font-size: 1.5em;
        line-height: 1.6em;    
        letter-spacing: 0.1em;
        width: 91vw;
        text-align: right;
        padding-top: 20vw;
        margin-right: -1vw;
    }
    h2.sub-title {
            right: 0%;
            top: 74%;
        }
    h2 {
        font-size: 1.5em;
        line-height: 1.1em;
        letter-spacing: 0.28em;
        }
    .text {
        line-height: 1.6em;
        margin-right: -1vw;
    }
    .quote {
        text-align: right;
        line-height: 1.6em;
        white-space: none;
        white-space: normal;
        padding-right: 0vw;
        letter-spacing: 0.13em;
        margin-top: 16vw;           
        }
    .visual1 {
        width: 103vw;
        padding-left: 42px;
        background-size: 0;
        }
    .part1 {
        display: block;
        flex-direction: column;
        }
    .text1 {
        width: 92vw;
        padding-top: 8%;
        padding-right: -4%;
        padding-left: 0vw;
        padding-right: 0%;
        }
    .visual2 {
        position: relative;
        width: 89vw;
        margin-left: 0;
        float: none;
        margin-right: 0px;
        }
    .part2 {
        flex-direction: row;
        margin-top: 145px;
        background-size: 0;
        }
    .title2 {
        bottom: 76.5vw;
        left: 50vw;
    }
    .d_empiremap {
        padding-right: 0vw;
    }
    .text2 {
        padding-top: 10vw;
        width: 92vw;
        margin-left: 2%;
        }
    .title3 {
        position: unset;
        width: 89vw;
        padding-bottom: 3vw;
    }
    .part3 {
        margin-top: 38vw;
    }
    .walldrawing {
        max-width: 116%;
        margin-right: 0;
    }   
    .hdescription {
        margin-right: 0;
    }
    .wrap_part4 {
        display: block;
    }
    .visual4 {
        width: 100vw;
        margin-top: 30vw;
    } 
    .khanyamthethwa {
        max-width: 92%;    
    }
    .d_khanyamthethwa {
        padding-left: 7.4vw;
    }
    .text4 {
        width: 93vw;
    }
    .text5 {
        padding-right: 0vw;
        padding-left: 0;
    }
    .part5 {
        background-size: 0;
        width: 391px;
    }
    .atalantaplay {
        background-size: 0;
        margin-top: 27vw;
    }
    .visual5 {
        overflow: auto;
        margin-left: 0vw;
    }
    .visual5 img {
        height: 249px;
        margin-right: 13px;
    }
    .part6 {
        display: block;
        overflow: unset;
        margin-top: 22vw;
    }
    .visual6 {
        width: 96vw;
        padding-top: 21vw;
    }
    .text6 {
        width: 94vw;
        padding-left: 0px;
    }
    .visual6 {
        background-size: 0;
    }
    .part7 {
        padding-top: 14vw;
        display: block;
        background-size: 0vw;
        overflow: unset;
    }
    .text7 {
    width: 93vw;
    padding-right: 0;
    }
    .visual7 {
        width: 96vw;
    }
    .part8 {
        padding-top: 10vw;
        display: block;
        overflow: unset;
        background-size: 0vw;
    }
    .text8 {
        width: 96vw;
    }
    .visual8 {
        padding-left: 0;
        padding-top: 28px;
        background-size: 0vw;
        width: 92vw;
    }
    .part9 {
        display: block;
        background-size: 0;
    }
    .text9 {
        width: 97vw;
    }
    .visual9 {
        width: 93vw;
        background-size: 0vw;
        padding-left: 0;
    }
    .marride {
        width: 92vw;
    }
    .text10 {
        width: 93vw;
    }
    .part10b {
        background-size: 0vw;
        width: 92vw;
    }
    .visual10 {
        float: unset;
        width: 92vw;
        padding-left: 0;
        padding-right: 0;
        margin-top: 16vw;
    }
}
